@model List<MangaBook.WebApp.Areas.Admin.ViewModel.UserRoleViewModel>
@{
    ViewData["Title"] = "EditUsersInRole";
    var roleId = ViewBag.roleId;
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <span class="ml-1">
                <a asp-action="create-role" asp-controller="auth" asp-area="admin" class="btn btn-primary">Thêm quyền mới</a>
            </span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Role</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Index</a></li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Quản lý quyền</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post">
                        <div class="">
                            <div class="card-body">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <div class="form-check m-1">
                                        <input type="hidden" asp-for="@Model[i].UserId" />
                                        <input type="hidden" asp-for="@Model[i].UserName" />
                                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                                        <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                            @Model[i].UserName
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="card-footer">
                                <input type="submit" value="Update" class="btn btn-primary"
                                       style="width:auto" />
                                <a asp-action="EditRole" asp-route-id="@roleId"
                                   class="btn btn-primary" style="width:auto">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>